:root {
    --c-text-primary: #191919;
    --c-text-secondary: #737374;
    --c-border-primary: #ccc;
    --c-bg-body: #ccc;
    --c-bg-primary: #fff;
    --c-bg-secondary: #d4d8dd;
    --c-bg-button: #fff;
    --background: #e1e1e1;
    --color-light: rgb(82, 82, 82);
    --color-dark: rgb(128, 128, 128);
    --text-color-light: #888;
}

:root.dark-theme {
    --c-text-primary: #eee;
    --c-text-secondary: #d3d5db;
    --c-border-primary: #454545;
    --c-bg-body: #5e5e5e;
    --c-bg-primary: #323339;
    --c-bg-secondary: #222128;
    --c-bg-button: #494a50;
}

:root.black-theme {
    --c-text-primary: #edeeef;
    --c-text-secondary: #d4d7e1;
    --c-border-primary: #323232;
    --c-bg-body: #000;
    --c-bg-primary: #1b1d23;
    --c-bg-secondary: #000001;
    --c-bg-button: #343844;
}


body {
    display: flex;
    font-family: sans-serif;
    line-height: 1.5;
    background-color: var(--c-bg-body);
    transform: background-color 1s ease;
    color: var(--c-text-primary);
    overflow: hidden;
}

.menu {
    width: 90%;
    max-width: 20rem;
    max-height: 20rem;
    background-color: var(--c-bg-primary);
    transition: background-color 0.3s ease;
    border-radius: 15px;

}

.menu-header {
    padding: 0.5rem;
}

.menu-header-title {
    font-size: 1.2rem;
    color: var(--c-text-secondary);
    font-weight: 700;
}

.theme-switcher input {
    display: none;
}

.theme-switcher {
    position: relative;
    background-color: var(--c-bg-secondary);
    border-radius: 10px;
    display: flex;
    padding: 0 3px;
}

.theme-switcher label {
    position: relative;
    display: flex;
    z-index: 2;
    padding: 8px 0;
    width: calc(100%/3);
    color: var(--c-text-secondary);
}

.theme-switcher label span {
    display: flex;
    justify-content: center;
    font-weight: 600;
    opacity: 0.8;
}

.theme-switcher label span:hover {
    opacity: 1;
    cursor: pointer;
}

.theme-switcher .slider {
    position: absolute;
    z-index: 1;
    width: calc((100%-6px)/3);
    top: 3px;
    bottom: 3px;
    left: 0px;
    right: 0px;
    transform: translateX(0);
    border-radius: 10px;
    transition: .3s ease, transform .25s ease-out;
    background-color: var(--c-bg-button);
}

.theme-switcher input:nth-of-type(1):checked~.slider {
    transform: translateX(0);
}

.theme-switcher input:nth-of-type(2):checked~.slider {
    transform: translateX(100%);
}

.theme-switcher input:nth-of-type(3):checked~.slider {
    transform: translateX(200%);
}

.menu-body a {
    text-decoration: none;
    color: inherit;
    display: flex;
    padding: .6rem .5rem;
    border-radius: 4px;
    font-weight: 500;
    transition: .3s ease;
}

.menu-body a:hover {
    background-color: var(--c-bg-secondary);
}

ion-icon {
    margin-right: 5px;
    font-size: 20px;
    margin: 2px;
}

.linkbody {
    height: 80vh;
    margin-top: 25rem;
    display: flex;
    gap: 9rem;
    align-items: center;
    margin-left: 28rem;
}

.pulse ion-icon {
    font-size: 2.1875rem;
    position: absolute;
    padding: 5px;
}

.pulse {
    width: 3rem;
    color: #fff;
    transition: all .5s ease;
    background: #35d1e6;
}

.pulse,
.pulse::before,
.pulse::after {
    content: "";
    display: grid;
    grid-area: 1/1;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 0 0 0 0 #35D1E633;
    animation: pulsing 3s linear infinite var(--s, 0s);
}

.pulse::before {
    --s: 1s;
}

.pulse::after {
    --s: 2s;
}

.pulse:hover {
    background: #35D1E633;
    color: #ffffff99;
}

@keyframes pulsing {
    to {
        box-shadow: 0 0 0 6rem #0000;
    }
}

.alignment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    perspective: 1000px;
    margin: 5% auto;
}

.card .inner {
    margin-top: 8rem;
    margin-left: -50rem;
    position: relative;
    width: 300px;
    height: 360px;
}


.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    color: var(--text-color-light);
    border-radius: 25px;
    box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.1);
    background: url('../img/test2.jpg') 0 0 repeat;
}

/* 隐藏未旋转的图片 */
.back {
    backface-visibility: hidden;
}

.avatar {
    position: absolute;
    width: 6em;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 5px solid var(--background);
}

.banner+.profile {
    height: 50%;
    margin-top: -10px;
}

.title,
.subtitle,
.text,
.address {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.subtitle,
.address {
    font-size: 0.8em;
    font-weight: 400;
    /* text-transform: uppercase; */
}

.text {
    margin: 30% 8% 0 8%;
}

.address::before {
    content: "";
    display: inline-block;
    border-top: 2px solid var(--text-color-light);
    width: 100%;
    margin-bottom: 5px;
}

.back {
    transform: rotateY(180deg);
}

.card:hover .inner {
    transform: rotateY(-180deg);
}

.inner {
    transition: transform 0.4s ease-in-out;
    transform-style: preserve-3d;
}